<header class="page-header">
  <h1>Reto {{title}}</h1>
</header>

<div class="container content" *ngIf= "response; else loading">

  <section>
    <h6>Tiempo mostrado: 15 minutos</h6>
    <br>
    <div class="row">
      <div class="col-md-2">
        <h6>TEMPERATURA <small>Ultimo valor</small></h6>

        <div class = "data">
          <p class = "value">{{ currentTemp.value }} °C</p>
          <p class = "date">{{ currentTemp.date | date:"h:mm:ss a MM/dd/yy" }}</p>
        </div>
        
      </div>
      <div class="col-md-10">
        <canvas id='temperature' >{{ chartTemperature }}</canvas>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <h6>Tiempo mostrado: 15 minutos</h6>
    <br>
    <div class="row">
      <div class="col-md-2">
        <h6>HUMEDAD RELATIVA<br><small>Ultimo valor</small></h6>

        <div class = "data">
          <p class = "value">{{ currentHum.value }} %</p>
          <p class = "date">{{ currentHum.date | date:"h:mm:ss a MM/dd/yy" }}</p>
        </div>
      </div>
      <div class="col-md-10">
        <canvas id='humidity'>{{ chartHumidity }}</canvas>
      </div>
    </div>
  </section>
  <br>
</div>

<ng-template #loading>
    <div id="loader"></div>
</ng-template>

<footer></footer>
  





